# Core Data Structures in Pandas

Pandas is built on two main data structures:

- **Series** → One-dimensional (like a single column in Excel)  
- **DataFrame** → Two-dimensional (like a full spreadsheet or SQL table)

---

## Series — 1D Labeled Array

A Series is like a list with labels (index).

```python
import pandas as pd

s = pd.Series([10, 20, 30, 40])
print(s)
```

**Output:**
```
0    10
1    20
2    30
3    40
dtype: int64
```

Notice the automatic index: `0, 1, 2, 3`

You can also define a custom index:

```python
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
```

---

## DataFrame — 2D Labeled Table

A DataFrame is like a dictionary of Series — multiple columns with labels.

```python
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Dhaka", "Bogura", "Chattogram"]
}

df = pd.DataFrame(data)
print(df)
```

**Output:**
```
     name  age      city
0   Alice   25     Delhi
1     Bob   30    Mumbai
2  Charlie   35  Bangalore
```

Each column in a DataFrame is a Series.

---

## Index and Labels

Every **Series** and **DataFrame** has an **Index** — it helps with:

- Fast lookups  
- Aligning data  
- Merging & joining  
- Time series operations  

```python
df.index     # Row labels
df.columns   # Column labels
```

You can change them using:

```python
df.index = ["a", "b", "c"]
df.columns = ["Name", "Age", "City"]
```

---

## Why Learn These Well?

Most Pandas operations are built on these foundations:

- Selection  
- Filtering  
- Merging  
- Aggregation  

Understanding **Series** & **DataFrames** will make everything else easier.

---

## Summary

- `Series` = 1D array with labels  
- `DataFrame` = 2D table with rows + columns  
- Both come with **index** and are the heart of **Pandas**

In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([78, 69, 83, 91, 85])

In [4]:
s1

0    78
1    69
2    83
3    91
4    85
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
s2 = pd.Series([78, 69, 83, 91, 85], index=["Emon", "Naimul", "Hasan", "Tasnim", "Bindu"])

In [7]:
s2

Emon      78
Naimul    69
Hasan     83
Tasnim    91
Bindu     85
dtype: int64

In [8]:
s2["Hasan"]

83

In [9]:
s2["Tasnim"]

91

In [10]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Dhaka", "Bogura", "Chattogram"]
}

In [11]:
df = pd.DataFrame(data)
df

      name  age        city
0    Alice   25       Dhaka
1      Bob   30      Bogura
2  Charlie   35  Chattogram

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')